<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaPresentacion.Properties.Settings.test3ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=test3;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaPresentacion.Properties.Settings.MinervaConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Minerva;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaPresentacion.Properties.Settings.MinervaConnectionString1"
            connectionString="Data Source=35.184.250.185;Initial Catalog=Minerva;User ID=sqlserver;Password=1234;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>